.centered{
    text-align: center;
}

.double-bordered {
    padding: 15px;
    border-style: double;
}

img, iframe{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

thead , table{
    border: 2px solid black; /* Border style */
    font-weight: bold; /* Bold font */
}



