$\newcommand{\norm}[1]{\left\Vert #1 \right\Vert}
\newcommand{\angles}[1]{\left\langle #1 \right\rangle}
\newcommand{\cases}[1]{\begin{cases} #1 \end{cases}}
\newcommand{\align}[1]{\begin{align} #1 \end{align}}
\newcommand{\NN}{\mathbb{N}}
\newcommand{\ZZ}{\mathbb{Z}}
\newcommand{\QQ}{\mathbb{Q}}
\newcommand{\RR}{\mathbb{R}}
\newcommand{\CC}{\mathbb{C}}
\newcommand{\EE}{\mathbb{E}}
\newcommand{\FF}{\mathbb{F}}
\newcommand{\dx}{\operatorname{dx}}
\newcommand{\dy}{\operatorname{dy}}
\newcommand{\dz}{\operatorname{dz}}
\newcommand{\du}{\operatorname{du}}
\newcommand{\dv}{\operatorname{dv}}
\newcommand{\dt}{\operatorname{dt}}
\newcommand{\ds}{\operatorname{ds}}
\newcommand{\limfi}[1]{\displaystyle{\lim_{#1\to\infty}}}$