
/*------------- highlight-section ------------------*/

.markdown-section .highlight-section p {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
}

.markdown-section .highlight-section {
    --callout-color: 238, 15, 149;
    --callout-icon: lucide-sun;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: var(--size-2-2) solid rgb(var(--callout-color));
    box-shadow: none;
    padding: 0px;
    font-family: CMU Serif, Times, Noto Serif JP;
}

    .markdown-section .highlight-section .env-title {
        padding: var(--size-2-3);
        padding-left: var(--size-4-3);
        /*inner title?*/
        font-family: Inter;
        font-weight: normal;
        color: rgb(var(--callout-color));
    }

    .markdown-section .highlight-section .env-content {
        background-color: var(--background-primary);
        padding: 1px 20px 2px 20px;
    }

/*------------- shadowed-section ------------------*/

.markdown-section .shadowed-section p {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
}

.markdown-section .shadowed-section {
    position: relative;
    border: 6px solid #ccccff; /* Adjust the border style and color as needed */
    border-radius: 8px; /* Add rounded corners */
    padding: 15px 20px 2px 20px; /* Adjust the padding as needed */
    margin: 25px; /* Adjust the margin as needed */

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.markdown-section .shadowed-section .env-title {
    position: absolute;
    top: -27px; /* Adjust the positioning as needed : 15 from padding in section + 12~half of font size*/
    background-color: #ccccff; /* Background color to cover the top border */
    border-radius: 8px; /* Add rounded corners */
    padding: 5px 20px; /* Adjust the padding as needed */
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
}

.markdown-section .shadowed-section .env-content {
    border-radius: 8px; /* Add rounded corners */
    top: -35px; /* Adjust the positioning as needed */
    margin-top: 0px; /* Adjust the spacing between title and content as needed */
}

/*------------- bordered-section ------------------*/

.markdown-section .bordered-section p {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
}

.markdown-section .bordered-section {
    position: relative;
    border: 6px solid #ccccff; /* Adjust the border style and color as needed */
    border-radius: 8px; /* Add rounded corners */
    padding: 15px 20px 2px 20px; /* Adjust the padding as needed */
    margin: 25px; /* Adjust the margin as needed */
}

.markdown-section .bordered-section .env-title {
    position: absolute;
    top: -27px; /* Adjust the positioning as needed : 15 from padding in section + 12~half of font size*/
    background-color: #ccccff; /* Background color to cover the top border */
    border-radius: 8px; /* Add rounded corners */
    padding: 5px 20px; /* Adjust the padding as needed */
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
}

.markdown-section .bordered-section .env-content {
    border-radius: 8px; /* Add rounded corners */
    top: -35px; /* Adjust the positioning as needed */
    margin-top: 0px; /* Adjust the spacing between title and content as needed */
}

/*------------- bracket-section ------------------*/

.markdown-section .top-bracket-section p {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
}

.markdown-section .top-bracket-section {
    background-image: linear-gradient(#808080, #ffffff), linear-gradient(#808080, #ffffff), linear-gradient(#ffffff, #808080), linear-gradient(#ffffff, #808080);
    background-repeat: no-repeat;
    background-size: 3px 15px; /* Adjusted size for brackets on the bottom and top */
    background-position: top left, top right, bottom left, bottom right;
    border: solid #808080;
    border-width: 3px 0; /* Adjusted border-width for brackets on the bottom and top */
    margin: 25px;
    padding: 15px 20px 2px 20px;
}

.markdown-section .top-bracket-section .env-title {
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
}

.markdown-section .top-bracket-section .env-content::before {
    content: ""; /* Add content to the pseudo-element */
    display: block;
    width: 100%; /* Full width of the container */
    height: 1px; /* Line height */
    background-color: rgba(0,0,0,0.5); /* Line color */
    left: 0;
}

.markdown-section .top-bracket-section .env-content {
    margin-top: 5px;
}

/*------------- bracket-section ------------------*/

.markdown-section .bracket-section p {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
}

.markdown-section .bracket-section {
    background-image: linear-gradient(to right, #808080, #ffffff), linear-gradient(to left, #808080, #ffffff), linear-gradient(to right, #808080, #ffffff), linear-gradient(to left, #808080, #ffffff);
    background-repeat: no-repeat;
    background-size: 15px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid #808080;
    border-width: 0 3px;
    margin: 25px;
    padding: 15px 20px 2px 20px;
}

.markdown-section .bracket-section .env-title {
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
}

.markdown-section .bracket-section .env-content::before {
    content: ""; /* Add content to the pseudo-element */
    display: block;
    width: 100%; /* Full width of the container */
    height: 1px; /* Line height */
    background-color: rgba(0,0,0,0.5); /* Line color */
    left: 0;
}

.markdown-section .bracket-section .env-content {
    margin-top: 5px;
}
/*-------------------------------*/

.collapsible {
    overflow: hidden;
    background-color: rgb(250, 0, 200);
}

.collapsible .det-title {
    background-color: rgb(250, 180, 200);
    cursor: pointer;
}

.collapsible .content {
    background-color: rgb(50, 180, 200);
    max-height: 1px;
    overflow: hidden;
}

details {
    margin: 0;
    margin-bottom: 0.85em;
    padding: 0 15px;

    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section .title, .markdown-section theorem {
    font-weight: 700;
    font-size: 1.25em;
    cursor: pointer;
    border-right: 5px solid rgb(90, 120, 135, 0.5);
}

/* ------------------------------ Theorem ------------------------------ */

.markdown-section blockquote.theorem {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.theorem h4 {
    /*background-color: rgb(106, 250, 149);*/
    font-style: bold;
}

/* ------------------------------ Lemma ------------------------------ */

.markdown-section blockquote.lemma {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.lemma h4 {
    font-style: bold;
}

/* ------------------------------ Example ------------------------------ */

.markdown-section blockquote.example {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.example h4 {
    font-style: bold;
}

/* ------------------------------ Definition ------------------------------ */

.markdown-section blockquote.definition {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.definition h4 {
    font-style: bold;
}

/* ------------------------------ Proof ------------------------------ */

.markdown-section blockquote.proof {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    color: black;
}

.markdown-section blockquote.proof h4 {
    font-style: bold;
}

/* ------------------------------ Remark ------------------------------ */

.markdown-section blockquote.remark {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    font-style: italic;
    color: #000000;
    font-family: CMU Serif, Times, Noto Serif JP;
}

.markdown-section blockquote.remark h4 {
    font-style: bold;
}

/* ------------------------------ Exercise ------------------------------ */

.markdown-section blockquote.exercise {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.exercise h4 {
    font-style: bold;
}

/* ------------------------------ Problem ------------------------------ */

.markdown-section blockquote.problem {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid rgb(90, 120, 135, 0.5);
    background-color: rgb(150, 180, 200);
    color: black;
}

.markdown-section blockquote.problem h4 {
    font-style: bold;
}