

.hebrew.markdown-preview-view, .hebrew.markdown-source-view {
    direction: rtl;
}

.hebrew.markdown-source-view span.cm-math {
    aabackground: #101010;
    direction: ltr !important;
    aafont-size: 30px;
    unicode-bidi: embed;
}

.CodeMirror pre.CodeMirror-line {
  max-width: 300px;
}

.hebrew.markdown-preview-view body {
  direction:rtl;
}
